
<div id="content">

    <div class="box">
        <label for="">First Name: </label>
        <input type="text" id="marka" [(ngModel)]="FirstName" />
    </div>
    
    <div class="box">
        <label for="">Last Name: </label>
        <input type="text" id="model" [(ngModel)]="LastName" />
    </div>

    <div class="box">
        <label for="">Photo: </label>
        <select id="zdjecie" [(ngModel)]="ImgPath">
            <option value="img1">1</option>
            <option value="img2">2</option>
            <option value="img3">3</option>
            <option value="img4">4</option>
        </select>
    </div>
    <div class="box">
        <button type="button" (click)="login()">ADD NEW USER</button>
    </div>
</div>